{{#each blogs as |blog|}}

  <ul data-id="{{blog.id}}">
  <div>
    {{#if blog.id}}
    <li>ID: {{blog.id}}</li>
    <li>Title: {{blog.title}}</li>
    <li>Content: {{blog.content}}</li>
      <!-- <li><button><a class="delete" data-toggle="modal" data-target="#deletemodal" data-id="{{blog.id}}">Del</a></button></li> -->
      <li><button class="btn btn-danger delete-blog-button" data-id="{{blog.id}}">Delete</button></li>

      <li><button type="button" class="btn btn-warning update-blog-button" data-id="{{blog.id}}" data-toggle="modal" data-target="#update-blog-modal">Update</button></li>
    {{else}}
      No author provided.
    {{/if}}
  </div>
</ul>
{{/each}}
